@using PresupuestoMVC.Areas.Ventas.ViewModels.DTOs
@model IEnumerable<ArticuloResponseDTO>
@using PresupuestoMVC.Models.DTOs

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Artículos";
    var productCategories = ViewBag.ProductCategories as IEnumerable<ProductCategoryResponseDto>;
    var brands = ViewBag.Brands;
    var providers = ViewBag.Providers;
    var priceList = ViewBag.PriceList;
}
<main class="flex-grow-1 container-main">
    <!-- Header -->
    <div class="topbar">
        <div class="searchbox">
            <i class="bi bi-search"></i>
            <input class="form-control" type="text" placeholder="Buscar codigo ó articulo..." />
        </div>
        <div class="d-flex gap-2 flex-wrap">
            <button type="button" class="btn btn-success-soft"
                    onclick="abrirModalArticulo(true)">
                <i class=" bi bi-plus-lg me-2" id="btnNuevoArticulo"></i>
                Nuevo articulo
            </button>
        </div>
    </div>
    <div class="page-head">
        <div>
            <h1 class="page-title">@ViewData["Title"]</h1>
            <p class="page-subtitle">Gestión de artículos y productos.</p>
        </div>
    </div>

    <!-- informacion util rapida -->
    <div class="row g-3 mb-4">
        <div class="col-md-6 col-xl-3">
            <div class="erp-card metric-card">
                <div class="metric-icon"><i class="bi bi-journal-text"></i></div>
                <div class="metric-label">Articulos agregados este mes</div>
                <div class="metric-value">215</div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="erp-card metric-card">
                <div class="metric-icon"><i class="bi bi-cash-stack"></i></div>
                <div class="metric-label">Valor total inventario</div>
                <div class="metric-value">$ 3.945.700</div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="erp-card metric-card">
                <div class="metric-icon"><i class="bi bi-credit-card-2-front"></i></div>
                <div class="metric-label">medida mas utilizada</div>
                <div class="metric-value">KG</div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3">
            <div class="erp-card metric-card">
                <div class="metric-icon"><i class="bi bi-tags"></i></div>
                <div class="metric-label">Rubro principal</div>
                <div class="metric-value">Almacen</div>
            </div>
        </div>
    </div>

    <div id="tablaContainer">
        @await Html.PartialAsync("_TablaArticulosPartial", Model)
    </div>
</main>


<!-- Modal Articulo (Crear/Ver/Editar) -->
<div class="modal fade erp-modal-body" id="modalArticulo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog  modal-xl erp-modal">
        <div class="modal-content border-0 shadow-lg rounded-4">

            <div class="erp-modal-header">
                <h2 class="erp-modal-title" id="modalArticuloTitle"></h2>
                <button class="erp-modal-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <form id="formArticulo" method="post">
                <div class="modal-body erp-modal-body p-4 bg-white">
                    <input type="hidden" name="Id" id="articuloId">
                       <!-- tabla donde se guardarán los precios -->
                       <div id="priceContainer"></div>
                    <div id="hiddenItemsContainer"></div>
                    <div class="row g-4">
                        <section class="erp-form-section">
                            <!-- Datos Básicos -->
                            <h3 class="erp-form-section-title">Datos del artículo</h3>
                            <div class="row g-3 mb-3">
                                <!-- Codigo -->
                                <div class="col-md-4">
                                    <label class="form-label">Codigo</label>
                                    <input type="text" name="Codigo" id="articuloCodigo" class="form-control" placeholder="Ej. fda-123" required>
                                </div>
                                <!-- Nombre -->
                                <div class="col-md-4">
                                    <label class="form-label">Nombre</label>
                                    <input type="text" name="Nombre" id="articuloNombre" class="form-control" placeholder="Ej. Richard" required>
                                </div>
                                <!-- Unidad de medida -->
                                <div class="col-md-4">
                                    <label class="form-label">Unidad de medida</label>
                                    <input type="text" name="UnidadMedida" id="articuloUnidadMedida" class="form-control" placeholder="Ej. Kg" required>
                                </div>
                                <!-- Rubro -->
                                <div class="col-md-4">
                                    <label for="SelectRubroId" class="form-label">Rubro</label>
                                    <select id="SelectRubroId" name="ProductCategoryId"
                                            class="form-select" required>
                                        <option value="">Seleccionar rubro...</option>
                                        @if (productCategories != null)
                                        {
                                            foreach (var productCategory in productCategories)
                                            {
                                                <option value="@productCategory.Id">@productCategory.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <!-- Marca -->
                                <div class="col-md-4">
                                    <label class="form-label">Marca</label>
                                    <select id="BrendId" name="BrendId"
                                            class="form-select" required>
                                        <option value="">Seleccionar marca...</option>
                                        @if (brands != null)
                                        {
                                            foreach (var brend in brands)
                                            {
                                                <option value="@brend.Id">@brend.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <!-- Proveedor -->
                                <div class="col-md-4">
                                    <label class="form-label">Proveedor</label>
                                    <select id="providerId" name="ProviderId"
                                            class="form-select" required>
                                        <option value="">Seleccionar proveedor...</option>
                                        @if (providers != null)
                                        {
                                            foreach (var provider in providers)
                                            {
                                                <option value="@provider.Id">@provider.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <!-- Precio de compra -->
                                <div class="col-md-4">
                                    <label class="form-label">Precio de compra</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-light border-0">
                                            <i class="bi bi-currency-dollar"></i>
                                        </span>
                                        <input type="number"
                                               name="purchasePrice"
                                               id="PurchasePrice"
                                               placeholder="0"
                                               class="form-control"
                                               required>
                                    </div>
                                </div>
                                <!-- Precio de venta -->
                                <div class="col-md-4">
                                    <label class="form-label">Precio de venta</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-light border-0">
                                            <i class="bi bi-currency-dollar"></i>
                                        </span>
                                        <input type="number"
                                               name="SalePrice"
                                               id="salePrice"
                                               placeholder="0"
                                               class="form-control"
                                               required>
                                    </div>
                                </div>
                                
                                <!-- lista -->
                                <div class="col-md-4">
                                    <label class="form-label">Lista de precios</label>
                                    <div class="input-group btn-lista">
                                        <button type="button"
                                                class="btn-orange-soft"
                                                title="Ver"
                                                onclick="abrirModalLista()">
                                            <i class="bi bi-list me-1"></i>
                                            Abrir lista
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="erp-modal-footer">
                    <button type="button" class="btn btn-soft btn-pill" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-pill" id="btnSubmitForm"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal de Eliminación -->
<div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg">
            <div class="modal-body p-5 text-center">
                <div class="mb-4">
                    <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 3rem;"></i>
                </div>
                <h5 class="fw-bold mb-2">¿Estás seguro?</h5>
                <p class="text-muted">Se eliminará a <strong id="articuloEliminarNombre"></strong></p>
            </div>
            <div class="modal-footer border-0 bg-light d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-secondary rounded-pill px-4" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger rounded-pill px-4" id="btnConfirmarEliminar">Sí, Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Sub modal lista de precios-->
<div class="modal fade erp-modal-body" id="subModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered erp-modal">
        <div class="modal-content border-0 shadow-lg">

            <!-- Header -->
            <div class="erp-modal-header">
                <h5 class="erp-modal-title" id="modalArticuloTitle">
                    <i class="bi bi-box"></i> Lista de precios
                </h5>
                <button class="erp-modal-close" type="button" data-bs-dismiss="modal" aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body">
                <div class="erp-modal-body">
                    <div class="card-body">

                        <section class="erp-form-section">
                            <div class="">
                                 <small class="erp-form-section-title">PRECIOS POR LISTA</small>
                                  <p class="text-muted small mb-3">
                                      Definí el valor para cada lista.
                                  </p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-modern table-hover align-middle">
                                    <thead class="">
                                        <tr>
                                            <th class="py-3">Nombre</th>
                                            <th class="py-3">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     @if (priceList != null)
                                    {
                                        for (int i = 0; i < priceList.Count; i++)
                                        {
                                            <tr>
                                                <td class="fw-bold">
                                                    @priceList[i].Nombre
                                                </td>
                                    
                                                <td>
                                                    <input type="hidden" 
                                                           name="Items[@i].ListId" 
                                                           value="@priceList[i].Id" />
                                    
                                                    <div class="input-group">
                                                        <span class="input-group-text bg-light border-0">
                                                            <i class="bi bi-currency-dollar"></i>
                                                        </span>
                                                        <input type="number"
                                                               name="Items[@i].Price"
                                                               class="form-control"
                                                               placeholder="0"
                                                               required>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center py-4">
                                                No hay listas cargadas.
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="erp-modal-footer">
                <button type="button"
                        class="btn btn-soft btn-pill" 
                        data-bs-dismiss="modal">
                   Cancelar
                </button>
                <button type="button"
                        class="btn btn-primary btn-pill"
                        id="btnLista" 
                        onclick="savedSubModal()">
                   <i class="bi bi-check2-circle me-2"></i>
                   Aceptar
               </button>
            </div>
        </div>
    </div>
</div>

<script>
    let itemsSubModal = [];
    // let currentRow = null;

   async function abrirModalArticulo(
        crear,
        id,
        codigo,
        nombre,
        unidadMedida,
        productCategoryId,
        brendId,
        providerId,
        purchasePrice,
        salePrice,
        soloVer = false) {
        isCreating = crear;
        const btnSubmit = document.getElementById('btnSubmitForm');

        if (crear) {
            // Modo crear
            document.getElementById('modalArticuloTitle').innerHTML = `<span class="erp-modal-title-icon"><i class="bi bi-box-seam"></i></span>
                Crear nuevo articulo`;
            document.getElementById('formArticulo').action = '@Url.Action("GuardarArticulo", "Articulos")';
            document.getElementById('btnSubmitForm').innerHTML = '<i class="bi bi-check2-circle me-2"></i>Registrar articulo';
            document.getElementById('formArticulo').reset();
            btnSubmit.style.display = 'block';
            btnLista.style.display = 'block';
            document.querySelectorAll("#subModal .price-input").forEach(input => {
                input.value = "";
            });

            // Habilitar todos los campos
            document.querySelectorAll('#formArticulo input, #formArticulo select, #subModal input').forEach(el => {
                el.disabled = false;
            });
        } else {
            // Modo ver/editar
            document.getElementById('articuloId').value = id;
            document.getElementById('articuloNombre').value = nombre;
            document.getElementById('articuloCodigo').value = codigo || '';
            document.getElementById('articuloUnidadMedida').value = unidadMedida || '';
            document.getElementById('SelectRubroId').value = productCategoryId || '';
            document.getElementById('BrendId').value = brendId || '';
            document.getElementById('providerId').value = providerId || '';
            document.getElementById('PurchasePrice').value = purchasePrice || '';
            document.getElementById('salePrice').value = salePrice || '';

            // let url = '@Url.Action("GetPreciosByArticulo", "Articulos", new { area = "Ventas" })';

            // let response = await fetch(`${url}?articuloId=${id}`);

            // let precios = await response.json();

            // cargarPreciosEnSubModal(precios);

            if (soloVer) {
                document.getElementById('modalArticuloTitle').innerHTML = '<i class="bi bi-eye me-2"></i>Detalles del Articulo';
                btnSubmit.style.display = 'none';
                btnLista.style.display = 'none';
            } else {
                document.getElementById('modalArticuloTitle').innerHTML = '<i class="bi bi-pencil-square me-2 erp-modal-title-icon"></i>Editar Articulo';
                document.getElementById('formArticulo').action = '@Url.Action("EditarArticulo", "Articulos")';
                document.getElementById('btnSubmitForm').innerHTML = '<i class="bi bi-check2-circle me-2"></i>Actualizar articulo';
                btnSubmit.style.display = 'block';
                btnLista.style.display = 'block';
            }

            // Aplicar readonly/disabled según soloVer
            document.querySelectorAll('#formArticulo input, #formArticulo select, #subModal input').forEach(el => {
                el.disabled = soloVer;
            });
        }

        const modal = new bootstrap.Modal(document.getElementById('modalArticulo'));
        modal.show();
    }

    function cargarPreciosEnSubModal(precios) {

        let rows = document.querySelectorAll("#subModal tbody tr");

        rows.forEach(row => {

            let listIdInput = row.querySelector('input[name*="ListId"]');
            let priceInput = row.querySelector('input[name*="Price"]');

            let precioEncontrado = precios.find(p => p.listId == listIdInput.value);

            if (precioEncontrado) {
                priceInput.value = precioEncontrado.price;
            } else {
                priceInput.value = '';
            }
        });
    }

    function abrirModalEliminar(id, nombre) {
        document.getElementById('articuloEliminarNombre').innerText = nombre;
        document.getElementById('btnConfirmarEliminar').onclick = function() {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '@Url.Action("EliminarArticulo", "Articulos")';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'id';
            input.value = id;

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        };
    }


    function abrirModalLista(){
       $('#subModal').modal('show');
    }

    function savedSubModal() {
    
        let rows = document.querySelectorAll("#subModal tbody tr");
        let container = document.getElementById("priceContainer");
    
        container.innerHTML = "";
    
        rows.forEach((row, i) => {
    
            let listId = row.querySelector("input[type='hidden']").value;
            let price = row.querySelector("input[type='number']").value;
    
            if(price){
    
                container.innerHTML += `
                    <input type="hidden" name="Items[${i}].ListId" value="${listId}">
                    <input type="hidden" name="Items[${i}].Price" value="${price}">
                `;
            }

        });
    
        $('#subModal').modal('hide');
        console.log(container);
    }

    document.addEventListener("DOMContentLoaded", function () {

        document.getElementById("formArticulo").addEventListener("submit", function () {

            let container = document.getElementById("hiddenItemsContainer");
            container.innerHTML = "";

            let rows = document.querySelectorAll("#subModal tbody tr");

            rows.forEach((row, index) => {
                let listId = row.querySelector('input[name*="ListId"]').value;
                let price = row.querySelector('input[name*="Price"]').value;

                container.innerHTML += `
                    <input type="hidden" name="Items[${index}].ListId" value="${listId}" />
                    <input type="hidden" name="Items[${index}].Price" value="${price}" />
                `;
            });
        });

    });
</script>
