@using PresupuestoMVC.Models.Entities
@using PresupuestoMVC.Models.DTOs
@using PresupuestoMVC.Enums;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="category-content">
    @await Html.PartialAsync("_CategoryContent")
</div>

    <!-- Paginación -->
    @*     <nav aria-label="Paginación de rubro">
    <ul class="pagination justify-content-center">
    <!-- Botón Anterior -->
    <li class="page-item @(ViewBag.PaginaActual == 1 ? "disabled" : "")">
    @if (ViewBag.PaginaActual > 1)
    {
    <a class="page-link"
    href="@Url.Action("Index", new {
    rubroTypeId = ViewBag.FiltroRubroId,
    meses = ViewBag.FiltroMes,
    anio = ViewBag.FiltroAnio,
    pagina = ViewBag.PaginaActual - 1,
    tamañoPagina = ViewBag.TamañoPagina
    })">
    Anterior
    </a>
    }
    else
    {
    <span class="page-link">Anterior</span>
    }
    </li>

    @for (int i = inicio; i <= fin; i++)
    {
    <li class="page-item @(i == ViewBag.PaginaActual ? "active" : "")">
    <a class="page-link"
    href="@Url.Action("Index", new {
    rubroTypeId = ViewBag.FiltroRubroId,
    meses = ViewBag.FiltroMes,
    anio = ViewBag.FiltroAnio,
    pagina = i,
    tamañoPagina = ViewBag.TamañoPagina
    })">
    @i
    </a>
    </li>
    }
    <!-- Botón Siguiente -->
    <li class="page-item @(ViewBag.PaginaActual >= totalPaginas ? "disabled" : "")">
    @if (ViewBag.PaginaActual < totalPaginas)
    {
    <a class="page-link"
    href="@Url.Action("Index", new {
    rubroTypeId = ViewBag.FiltroRubroId,
    meses = ViewBag.FiltroMes,
    anio = ViewBag.FiltroAnio,
    pagina = ViewBag.PaginaActual + 1,
    tamañoPagina = ViewBag.TamañoPagina
    })">
    Siguiente
    </a>
    }
    else
    {
    <span class="page-link">Siguiente</span>
    }
    </li>
    </ul>
    </nav> *@
</div>


 <script>
    // function abrirModalEditar(id, user, rol) {
    //     // Llenar formulario
    //     document.getElementById('editUserId').value = id;
    //     document.getElementById('editUsernameId').value = user;
    //     document.getElementById('editRolId').value = rol;

    //     // Mostrar modal
    //     const modal = new bootstrap.Modal(document.getElementById('modalEditar'));
    //     modal.show();
    // }

    // function limpiarFiltros() {
    //     window.location.href = '@Url.Action("Index", "Rubro")';
    // }

    // function aplicarFiltros() {
    //     const rubroId = document.getElementById('rubroFilter').value;
    //     const mes = document.getElementById('mesFilter').value;
    //     const anio = document.getElementById('aniosFilter').value;


    //     // Construir URL con parámetros
    //     let url = '@Url.Action("Index", "Rubro")';
    //     const params = new URLSearchParams();

    //     if (rubroId) params.append('rubroTypeId', rubroId);
    //     if (mes) params.append('mes', mes);
    //     if (anio) params.append('anio', anio);


    //     // Mantener página actual
    //     params.append('pagina', 1);
    //     params.append('tamañoPagina', @ViewBag.TamañoPagina);

    //     if (params.toString()) {
    //         url += '?' + params.toString();
    //     }

    //     window.location.href = url;
    // }

@*     document.addEventListener("click", function (e) {
        if (e.target.closest("[data-bs-toggle='collapse']")) {
            const icon = e.target.closest("button").querySelector("i");
            icon.classList.toggle("bi-caret-right-fill");
            icon.classList.toggle("bi-caret-down-fill");
        }
    }); *@

 </script>

 <style>

/*     .rubro-row {
        background-color: #f1f3f5; 
        font-weight: 500;
    }

    .subrubro-row {
        background-color: #ffffff;
    }

    .table-hover tbody tr:hover {
        background-color: #e9ecef;
    } */

  </style>