@using PresupuestoMVC.Models.DTOs;
@using PresupuestoMVC.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Proveedores";

    var paginacion = ViewBag.Paginacion as PaginatedResult<ProviderResponseDto>;
    int inicio = Math.Max(1, paginacion.PageNumber - 2);
    int fin = Math.Min(paginacion.TotalPages, paginacion.PageNumber + 2);
}
<main class="flex-grow-1 container-main">
    <!-- Header -->
    <div class="topbar">
        <form method="get" asp-action="Index" class="searchbox">
            <div>
                <i class="bi bi-search"></i>
                <input class="form-control"
                       type="text"
                       name="searchNombre"
                       value="@ViewData["SearchNombre"]"
                       placeholder="Buscar proveedor" />
            </div>
        </form>
        <div class="d-flex gap-2 flex-wrap">
            <button class="btn btn-success-soft" onclick="AbrirModalCrearProveedor()"><i class=" bi bi-plus-lg me-2" id="btnNuevoGasto"></i>Nuevo</button>
        </div>
    </div>
    <div class="page-head">
        <div>
            <h1 class="page-title">@ViewData["Title"]</h1>
            <p class="page-subtitle">Gestión de proveedores.</p>
        </div>
    </div>

    <!-- Tabla -->
    <section class="erp-card table-card">
        <div class="table-tools">
            <div>
                <h2 class="section-title">Listas registradas</h2>
                <p class="section-subtitle">
                    Mostrando @paginacion.Items.Count() de @paginacion.TotalCount
                </p>
            </div>
        </div>
        <div class="card-body p-0">
            <table class="table table-modern table-hover align-middle">
                <thead class="custom-header text-white">
                    <tr>
                        <th class="form-label small">CODIGO</th>
                        <th class="form-label small">NOMBRE</th>
                        <th class="form-label small text-end">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    @if (paginacion != null && paginacion.Items.Any())
                    {
                        foreach (var item in paginacion.Items)
                        {
                            <tr>
                                <td><span class="badge-soft badge-cuenta">@item.Code</span></td>
                                <td class="fw-semibold">@item.Name</td>
                                <td class="text-end">
  @*                                   <button type="button"
                                            class="icon-btn"
                                            title="Ver"
                                            onclick="abrirModalLista(false, '@item.Id', '@item.Code','@item.Name', true)">
                                        <i class="bi bi-eye"></i>
                                    </button> *@
                                    <button type="button"
                                            class="icon-btn"
                                            title="Editar"
                                            onclick="AbrirModalEditarProveedor(
                                            '@item.Id',
                                            '@item.Code',
                                            '@item.Name')">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                    <button type="button"
                                            class="icon-btn icon-btn-danger"
                                            title="Eliminar"
                                            onclick="AbrirModalEliminarProveedor('@item.Id','@item.Name')"
                                            data-bs-target="#modalEliminarProveedor">
                                        <i class="bi bi-trash text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center py-4">
                                No hay listas cargadas.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="table-footer">
            <small class="text-muted">Página @paginacion.PageNumber de @paginacion.TotalPages</small>
            <nav>
                <ul class="pagination pagination-sm mb-0">
                    <!-- Botón Anterior -->
                    <li class="page-item @(paginacion.PageNumber == 1 ? "disabled" : "")">
                        @if (paginacion.PageNumber > 1)
                        {
                            <a class="page-link" href="@Url.Action("Index", "Suppliers", new { Area = "Ventas", pagina = paginacion.PageNumber - 1, tamañoPagina = paginacion.PageSize })">
                                Anterior
                            </a>
                        }
                        else
                        {
                            <span class="page-link">Anterior</span>
                        }
                    </li>

                    @for (int i = inicio; i <= fin; i++)
                    {
                        <li class="page-item @(i == paginacion.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", "Suppliers", new { Area = "Ventas", pagina = i, tamañoPagina = paginacion.PageSize })">
                                @i
                            </a>
                        </li>
                    }

                    <!-- Botón Siguiente -->
                    <li class="page-item @(paginacion.PageNumber >= paginacion.TotalPages ? "disabled" : "")">
                        @if (paginacion.PageNumber < paginacion.TotalPages)
                        {
                            <a class="page-link" href="@Url.Action("Index", "Suppliers", new { Area = "Ventas", pagina = paginacion.PageNumber + 1, tamañoPagina = paginacion.PageSize })">
                                Siguiente
                            </a>
                        }
                        else
                        {
                            <span class="page-link">Siguiente</span>
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</main>

<!-- Modal de Creación -->
<div class="modal fade" id="modalCrearProveedor" tabindex="-1">
    <div class="modal-dialog erp-modal">
        <div class="modal-content border-0 shadow-lg">

            <!-- Header -->
            <div class="erp-modal-header">
                <h5 class="erp-modal-title" id="modalProveedorTitle">
                    <i class="bi bi-box"></i> Nuevo Proveedor
                </h5>
                <button class="erp-modal-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <form action="@Url.Action("CreateSupplier")" method="post">

                <div class="modal-body d-flex gap-2 p-4">
                    <div class="w-100"> 
                        <!-- codigo -->
                        <div class="mb-3">
                            <label for="crearProveedor" class="form-label">CODIGO</label>
                            <input type="text"
                                   name="Codigo"
                                id="crearCode"
                                class="form-control"
                                placeholder="ABC123"
                               >
                            </input>
                        </div>

                        <!-- Nombre -->
                        <div class="mb-3">
                            <label class="form-label">NOMBRE</label>
                            <input type="text"
                                   name="Nombre"
                                   id="crearName" 
                                class="form-control"
                                placeholder="proveedor" 
                                required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-soft btn-pill"
                            data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-pill"
                        <i class="bi bi-check-circle me-1"></i>
                        Crear proveedor
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal de Editar -->
<div class="modal fade" id="modalEditarProveedor" tabindex="-1">
    <div class="modal-dialog erp-modal">
        <div class="modal-content border-0 shadow-lg">

            <!-- Header -->
            <div class="erp-modal-header">
                <h5 class="erp-modal-title" id="modalProveedorTitle">
                    <i class="bi bi-box"></i> Editar Proveedor
                </h5>
                <button class="erp-modal-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Cerrar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>

            <form action="@Url.Action("UpdateSupplier")" method="post">

                <div class="modal-body d-flex gap-2 p-4">
                    <div class="w-100">
                        <!-- Campo oculto para el ID -->
                        <input type="hidden" id="editProviderId" name="Id" />
                        <!-- codigo -->
                        <div class="mb-3">
                            <label for="crearProveedor" class="form-label">CODIGO</label>
                            <input type="text"
                                   name="Code"
                                   id="editCode"
                                   class="form-control"
                                   placeholder="ABC123">
                            </input>
                        </div>

                        <!-- Nombre -->
                        <div class="mb-3">
                            <label class="form-label">NOMBRE</label>
                            <input type="text"
                                   name="Name"
                                   id="editName"
                                   class="form-control"
                                   placeholder="proveedor"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-soft btn-pill"
                            data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit"
                            class="btn btn-primary btn-pill"
                        <i class="bi bi-check-circle me-1"></i>
                         Aceptar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal de Eliminación -->
<div class="modal fade" id="modalEliminarProveedor" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-danger">
            <!-- Header rojo -->
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">
                    <i class="bi bi-exclamation-triangle me-2"></i>Confirmar Eliminación
                </h5>
                <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal"></button>
            </div>

            <!-- Formulario -->
            <form action="@Url.Action("DeleteSupplier")" method="post">
                <div class="modal-body">
                    <!-- Campo oculto para el ID -->
                    <input type="hidden" id="deleteProviderId" name="id" />

                    <!-- Mensaje de confirmación -->
                    <div class="text-center">
                        <i class="bi bi-trash text-danger" style="font-size: 3rem;"></i>
                        <h5 class="mt-3">¿Estás seguro de eliminar el proveedor?</h5>
                        <p class="text-muted">
                            Esta acción no se puede deshacer. El proveedor será eliminado permanentemente.
                        </p>

                        <!-- Información del rubro a eliminar -->
                        <div class="alert alert-light mt-3 text-start" id="deleteCategoryInfo">
                            <div class="row">
                                <div class="col-6"><strong>Proveedor: </strong> <span id="deleteProviderName">-</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash me-1"></i>Sí, Eliminar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    // --- MODAL CREACIÓN --- //
    function AbrirModalCrearProveedor() {
        document.getElementById('crearCode').value = "";
        document.getElementById('crearName').value = "";

        const modal = new bootstrap.Modal(document.getElementById('modalCrearProveedor'));
        modal.show();
    }

    // --- MODAL EDICION --- //
    function AbrirModalEditarProveedor(id, code, nombre) {
        document.getElementById('editProviderId').value = id;
        document.getElementById('editCode').value = code;
        document.getElementById('editName').value = nombre;

        const modal = new bootstrap.Modal(document.getElementById('modalEditarProveedor'));
        modal.show();
    }

    // --- MODAL ELIMINAR --- //
    function AbrirModalEliminarProveedor(id, nombre) {
        console.log(id, nombre);
        document.getElementById('deleteProviderId').value = id;
        document.getElementById('deleteProviderName').innerText = nombre;

        const modal = new bootstrap.Modal(document.getElementById('modalEliminarProveedor'));
        modal.show();
    }
</script>